.Footer {
  width: 100%;
  height: 8vh;
  padding: 0;
  background: #f8f9fa;

  .wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .gitHub-link {
    color: black;
    font-size: 4.5vh;
    transition: color 0.5s;

    &:hover {
      color: silver;
      transition: color 0.5s;
    }
  }

  .year {
    color: black;
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 1vh;
  }

  .course-logo {
    width: 100px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.5s;
    }
  }
}
