.Footer {
  width: 100%;
  height: 8vh;
  padding: 0;

  .wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .gitHub-link {
    color: white;
    transition: 0.3s;
    font-size: 4.5vh;
  }

  .gitHub-link:hover {
    color: silver;
    transition: 0.3s;
  }

  .year {
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 1vh;
  }

  .course-logo {
    width: 100px;
  }
}
