.Prey {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 250ms;

  &.apple {
    background-image: url(../../../../assets/img/apple.png);
  }

  &.carrot {
    background-image: url(../../../../assets/img/carrot.png);
  }

  &.cherry {
    background-image: url(../../../../assets/img/cherry.png);
  }
}
