.Prey {
  position: absolute;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 10ms;

  &.Apple {
    background-image: url(../../../../assets/img/apple.png);
  }

  &.Carrot {
    background-image: url(../../../../assets/img/carrot.png);
  }

  &.Cherry {
    background-image: url(../../../../assets/img/cherry.png);
  }
}
