.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

button {
  color: white !important;
  font-size: 2.1vh !important;
  font-weight: 600 !important;
  outline: none !important;
  margin: 0 1vw;
}
