.Button {
  transition: 1s;

  &:hover {
    transition: 1s;
    background: #838383 !important;
  }

  &.green:hover {
    transition: 0.5s;
    background: #4caf4fb0 !important;
  }

  &.red:hover {
    transition: 0.5s;
    background: #f44336c7 !important;
  }

  &.amber:hover {
    transition: 0.5s;
    background: #ff9100bd !important;
  }
}

#nav-mobile > li > a {
  margin-left: 0;
  margin-right: 0;

  .pause {
    margin-left: 0;
  }

  i {
    margin-left: 6px;
  }
}
