.GameBoard {
  position: relative;
  width: 750px;
  height: 450px;
  margin: 0 auto;
  background: lightskyblue;
  overflow: hidden;

  .Snake {
    position: absolute;
    width: 25px;
    height: 25px;
    background: olivedrab;
    transition: 10ms;
  }
}
