.Statistics {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2.1vh;
  font-weight: 600;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 6vh;
    text-decoration: underline;
  }

  th {
    font-size: 2.3vh;
  }
}
