.Statistics {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  .collection {
    .collection-header {
      font-weight: 600;
    }

    li {
      display: flex;
      justify-content: space-around;
      background: #282c34 !important;

      .number {
        width: 10%;
      }

      .time,
      .score {
        width: 40%;
      }
    }
  }
}
